$base_font: sans-serif;
$accent_font: 'Onest', $base_font;

$black: #000000;
$white: #ffffff;

$color_dark: #0E0E0E;
$color_gray: #F8F8F8;
$color_gray2: #f3f1f1;
$color_dark-gray: #565656;
$color_green: #34A852; 
$color_red: #E81B23;